localhost {
    tls internal

    @auth path /api/auth/*
    reverse_proxy @auth frontend:3000

    @backendApi path /api/*
    reverse_proxy @backendApi backend:8080

    reverse_proxy frontend:3000
}